<!DOCTYPE html>
<html lang="en">
<head>
    <!script type="importmap">
    {
    "imports": {
    "jquery": "/lib/jquery/jquery.min.js",
    "bootstrap": "/lib/bootstrap/js/bootstrap.min.js",
    "jquery-validation-unobtrusive": "/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js",
    "/js/compiled/*": "/js/compiled/*.js"
    }
    }
    </!script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <br />
        <br />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Footer
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>