@page
@model IndexModel
@{
    ViewData["Title"] = "Import Test";
}

@section Styles
{
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
}

@section Scripts
{
    @Html.AntiForgeryToken()
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="module" src="~/js/compiled/site.js" asp-append-version="true"></script>
}

<p>
    We are so close! Last remaning thing is to be able to click the button below and have it open a modal window.
</p>

<p>
    Instead, it gives this error in the console:
</p>

<p>
    <b>TypeError: bootstrap.Modal is not a constructor</b>
</p>

<p>
    Your mission, should you choose to accept it, is to figure out why this isn't launching a modal, because everything I have read online says this should work... 
</p>

<p>
    This message will self destruct in 5 seconds...
</p>

<input type="button" id="btnLaunchModal" value="  CLICK ME  " />

<div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-enlarge">
        <div class="modal-content">
            <div class="modal-body modal-body-centered">
                YOU DID IT!!!!!
            </div>
        </div>
    </div>
</div>