@page
@model IndexModel
@{
    ViewData["Title"] = "Import Test";
}

@section Styles
{
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
}

@section Scripts
{
    @Html.AntiForgeryToken()
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type"module" src="~/js/compiled/site.js" asp-append-version="true"></script>
    <script type"module" src="~/js/compiled/errors.js" asp-append-version="true"></script>
}

<p>
    If you open dev tools, you should see the following errors:
</p>

<ul>
    <li>Uncaught SyntaxError: Cannot use import statement outside a module</li>
    <li>Uncaught SyntaxError: Unexpected token 'export'</li>
</ul>

<p>
    If you look at the page source, you can see that both of the .js files are specified as mmodules:
</p>

<p>
    <img src="/images/devtools.png" style="border: 1px solid black;"/>
</p>