@page
@model IndexModel
@{
    ViewData["Title"] = "Import Test";
}

@section Styles
{
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
}

@section Scripts
{
    @Html.AntiForgeryToken()
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="module" src="~/js/compiled/site.js" asp-append-version="true"></script>
    <script type="module" src="~/js/compiled/errors.js" asp-append-version="true"></script>
}

<p>
    In order for this to be a successful test, I would want to see in the dev tools console the following TWO messages:
</p>

<ul>
    <li>Form is submitting....</li>
    <li>Form submitted...</li>
</ul>

<form id="f1" method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="formSubmitted" onsubmit="formSubmitting();">
    <input type="submit" value="   TEST ME   " />
</form>